
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: hsl(30, 38%, 92%);
  min-height: 100vh;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.container {
  margin: 30px auto;
}

.card {
  max-width: 600px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  margin: 20px;
}

.product-image {
  width: 100%;
  display: inherit;
}

.card-content {
  padding: 35px;
  display: flex;
  flex-direction: column;
}

p,
h6 {
  color: hsl(228, 12%, 48%);
}

.product-category {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 0.75rem;
  font-weight: 100;
}

h1 {
  font-family: "Fraunces", serif;
  font-weight: bold;
  padding: 20px 0;
  font-size: 2rem;
  line-height: 2rem;
}

.product-details {
  line-height: 1.5rem;
}

.price {
  padding: 20px 0;
  display: flex;
  align-items: center;
}

.new-price {
  color: hsl(158, 36%, 37%);
  font-size: 2rem;
  font-weight: bold;
  font-family: "Fraunces", serif;
  margin-right: 15px;
}

.old-price {
  text-decoration: line-through;
}

button {
  background-color: hsl(158, 36%, 37%);
  padding: 15px;
  border: none;
  border-radius: 10px;
  color: hsl(0, 0%, 100%);
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer{
  margin: 10px 10px 0 35px;
}

button img {
  margin-right: 10px;
}

button:hover {
  background-color: hsl(158, 50%, 20%);
  cursor: pointer;
}

@media screen and (max-width: 630px) {
  .card {
    grid-template-columns: 1fr;
  }

  .product-image {
    content: url(./image-product-mobile.jpg);
  }
}
